<div class="container-fluid">
  <strong class="font-32"> Experience </strong>
  <br>
  <br>
  <%= render 'shared/exp_project',
             image: 'infotelogo.png',
             title: 'Software Developer Intern',
             github_url: nil,
             place_location: 'Info-Tech Research Group, London, Ontario',
             start_date: 'May 2014',
             end_date: 'September 2015',
             description: 'Contributed to a array of Ruby on Rails based web applications, with roles including: supporting/maintaining, expanding, and updating existing products, and
                          participating in the creation of new products. Developed and maintained RESTful APIs responsible for linking multiple services. Carefully refactored and reworked
                          existing code resulting in significant improvements in: performance, interoperability, and ease of modification. Contributed to and participatedy
                          in regular code reviews. Worked in an Agile and Scrum environment. Used many technologies such as: Git, jQuery, MySql, AWS, and many more.'
    %>
</div>