<div class="container-fluid">
  <strong class="font-32"> Experience </strong>
  <br>
  <br>
  <%= render 'shared/exp_project',
  image: 'roadmunk.png',
  title: 'Web Application Developer',
  github_url: nil,
  place_location: 'Roadmunk, Kitchener, Ontario',
  start_date: 'Aug 2017',
  end_date: 'Present',
  description: 'Worked for one of the leading project roadmapping SaSS companies, contributing to their node.js web application. Contirbuted to a wide range of Roadmunk\'s features
                  ranging from UI changes using Knockout.js and Vue.js, to major back-end components. Alex was and continues to be involved in product planning, onboarding and training,
                  architectural discussions and, automated testing strategies.'
%>
  <br>
  <%= render 'shared/exp_project',
             image: 'applyboard.png',
             title: 'Software Developer',
             github_url: nil,
             place_location: 'Applyboard, Kitchener, Ontario',
             start_date: 'May 2016',
             end_date: 'Aug 2017',
             description: 'Worked in a fast-paced start-up environment in the education services space. Contributed to a Ruby on Rails based web application that serves as
                            Applyboard\'s primary method of service delivery. Duties include: implementing new features and improvements to existing features, mentoring co-op students, participating in daily Scrums, participating in regular code-reviews
                            helping enforce and maintain high code standards and quality, writing of automated test suites for existing a new features, contributing to architectural discussions
                            and decisions, and creating attractive solutions with excellent user experience.'
  %>
  <br>
  <%= render 'shared/exp_project',
             image: 'infotelogo.png',
             title: 'Software Developer Intern',
             github_url: nil,
             place_location: 'Info-Tech Research Group, London, Ontario',
             start_date: 'May 2014',
             end_date: 'September 2015',
             description: 'Contributed to a array of Ruby on Rails based web applications, with roles including: supporting/maintaining, expanding, and updating existing products, and
                          participating in the creation of new products. Developed and maintained RESTful APIs responsible for linking multiple services. Carefully refactored and reworked
                          existing code resulting in significant improvements in: performance, interoperability, and ease of modification. Contributed to and participated
                          in regular code reviews. Worked in an Agile and Scrum environment. Used many technologies such as: Git, jQuery, MySql, AWS, and many more.'
    %>

</div>
