<div class="main-page center container-fluid">
  <strong class="font-32">About Me</strong>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 picture">
      <%= image_tag 'portrait.jpg', class: 'pull-right' %>
    </div>
    <div class="col-md-8 about-me">
      <p>
        <strong class="font-18">Alex Clarke</strong> is a software developer at <%= link_to 'ApplyBoard', 'http://www.applyboard.com'  %> and graduate of the Honours Computer Science program at Western University. <br>
        He currently resides in Kitchener, Ontario, Canada. Alex's interests include: web application <br>development, artificial intelligence and machine learning, and distributed
        and high performance<br> computing.
      </p>
    </div>
  </div>
</div>
