<div class="container-fluid">
  <strong class="font-32 white"> Contact </strong>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 white">
      <div class="contact-info">
        <span class="fa fa-envelope fa-lg"></span> <span class="font-16">Email: alexclake< at >gmail.com</span>
      </div>
    </div>
    <div class="col-md-4 white">
      <div class="contact-info">
        <span class="fa fa-linkedin-square fa-lg"></span> <span class="font-16">Linked-in: <a href="https://ca.linkedin.com/in/alex-clarke-8770a6103">Alex Clarke</a></span>
      </div>
    </div>
    <div class="col-md-4 white">
      <div class="contact-info">
        <span class="fa fa-github-square fa-lg"></span> <span class="font-16">GitHub: <a href="http://www.github.com/aclar48"> www.github.com/aclar48</a></span>
      </div>
    </div>
  </div>
</div>