.main-page {
  width: 85%;
  position: relative;
  top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  .picture {
    border-right: 10px solid $lt_yellow;
    img {
      position: relative;
      right: -9px;
    }
  }
  .about-me {
    border-left: 10px solid $dk_blue_gray;
  }
  .mp-links {
    border-left: 10px solid $dk_blue_gray;
  }
  .mp-nav {
    border-right: 10px solid $lt_yellow;
  }
}