<div class="resume center container-fluid">
  <div class="resume-header lt_yellow-bg row">
    <div class="col-md-12">
      <span class="font-30"> Alex Clarke</span>
      <table class="pull-right">
        <tr>
          <td>
            <% if Rails.env.development? %>
              <span class="fa fa-envelope"></span>  <a href="mailto:alexclarke@gmail.com">alexclarke@gmail.com</a>
            <% else %>
              <span class="fa fa-envelope"></span>  alexclarke<span class="fa fa-at"></span>gmail.com
            <% end %>
          </td>
          <td>
            <span class="fa fa-linkedin"></span> <a href="https://ca.linkedin.com/in/alex-clarke-8770a6103">Alex Clarke</a>
          </td>
        </tr>
        <% if Rails.env.development? %>
          <tr>
            <td>
              <span class="fa fa-globe"></span> <a href="http://www.alexdclarke.me"> www.alexdclarke.me</a>
            </td>
            <td>
              <span class="fa fa-mobile"></span> (226) 700-1697
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <span class="fa fa-github"></span><a href="http://www.github.com/aclar48"> www.github.com/aclar48</a>&nbsp
          </td>
        <% if Rails.env.production? %>
          <td>
            <span class="fa fa-globe"></span> <a href="http://www.alexdclarke.me"> www.alexdclarke.me</a>
          </td>
        <% end %>
        </tr>
      </table>
    </div>
  </div>
  <div class="resume-body">
    <div class="row">
      <div class="col-md-5 lang-tech">
        <div class="row">
          <div class="col-md-6">
            <strong class="font-16"> Languages </strong><br>
            <span class="font-12">Javascript </span><br>
            <span class="font-12">Ruby  </span><br>
            <span class="font-12">Java  </span><br>
            <span class="font-12">C/C++  </span><br>
            <span class="font-12">CSS  </span><br>
            <span class="font-12">HTML  </span><br>
          </div>
          <div class="col-md-6">
            <strong class="font-16"> Technologies </strong><br>
            <span class="font-12">Node  </span><br>
            <span class="font-12">Ruby on Rails  </span><br>
            <span class="font-12">React  </span><br>
            <span class="font-12">AWS  </span><br>
            <span class="font-12">MongoDB  </span><br>
            <span class="font-12">MySQL  </span><br>
            <span class="font-12">DynamoDB  </span><br>
          </div>
        </div>
      </div>
      <div class="col-md-7 education-personal">
        <strong class="font-16"> Education: </strong> <br>
        <strong> University of Western Ontario </strong><br>
        <span> &nbsp BSc, Honours Specialization in Computer Science </span><br>
        <span>&nbsp Software Engineering Minor</span> <br>
        <span>&nbsp Dean's Honour List</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 additional-skills">
        <strong class="font-16">Additional Skills:</strong> <br>
        <span>&nbsp Web Application Development</span> <br>
        <span>&nbsp Modern User Authentication Systems</span> <br>
        <span>&nbsp User and Organization Security Best Practices</span> <br>
        <span>&nbsp Training in Software Architecture, QA, & Testing</span> <br>
        <span>&nbsp Artificial Intelligence & Machine Learning</span><br>
        <span>&nbsp Distributed & Parallel Systems</span>
      </div>
      <div class="col-md-6 personal-skills">
        <strong class="font-16">Personal Skills:</strong> <br>
        <span>&nbsp Strong Organizational and Communication Skills</span> <br>
        <span>&nbsp Passionate Self-Starter</span> <br>
        <span>&nbsp Driven to Create High-Quality Solutions</span> <br>
        <span>&nbsp Quick Learner & Proficient Problem Solver</span> <br>
        <span>&nbsp Always Looking to Explore new Technologies</span><br>
        <span>&nbsp Mentorship and Training</span>
      </div>
    </div>
    <br>
    <div class="experience container-fluid">
      <strong class="font-18">Experience:</strong>
      <div class="row">
        <div class="col-md-12 industry-exp">
          <strong class="font-16">Industry:</strong><br>
          <div class="dk-blue-border-left container-fluid">
            <strong> Senior Software Engineer </strong><br>
            <strong> CSC Generation, Remote </strong> <strong class="pull-right"> Sept 2020 - Present</strong><br>
            <span>&nbsp Team Development Lead</span><br>
            <span>&nbsp Developed and enforced coding standards </span><br>
            <span>&nbsp Mentored other developers </span><br>
            <span>&nbsp Lead architectural discussions and design </span><br>
          </div>
          <br>

          <div class="dk-blue-border-left container-fluid">
            <strong> Web Application Developer </strong><br>
            <strong> Roadmunk, Kitchener, Ontario</strong> <strong class="pull-right"> Aug 2017 - Sept 2020</strong><br>
            <span>&nbsp Contirbuted to the development of an industry leading roadmapping solution </span><br>
            <span>&nbsp Designed and implemented an automated server-side roadmap publishing system </span><br>
            <span>&nbsp Contributed to an item dependency system, including a graph optimization based move as far as possible feature</span><br>
            <span>&nbsp Helped discover and address a number of performance issues</span><br>
            <span>&nbsp Was a primary contributer to a field management system</span><br>
            <span>&nbsp Implemented support for OAuth2 </span><br>
          </div>
          <br>

          <div class="dk-blue-border-left container-fluid">
            <strong> Software Developer </strong><br>
            <strong> Applyboard, Kitchener, Ontario</strong> <strong class="pull-right"> May 2016 - Aug 2017</strong><br>
            <span>&nbsp Contributed to a rapidly growing Ruby on Rails Application in a start-up environment </span><br>
            <span>&nbsp Implemented notification system</span><br>
            <span>&nbsp Developed a messaging system to facilitate communication between users & internal support</span><br>
            <span>&nbsp Developed a requirements system to automatically notify users of required actions</span><br>
            <span>&nbsp Lead refactoring efforts and improvements in coding standards</span><br>
            <span>&nbsp Contributed to architectural planning for current and future features</span><br>
          </div>
          <br>
          <div class="dk-blue-border-left container-fluid">
            <strong> Software Developer Intern, </strong> <br>
            <strong> Info-Tech Research Group, London, Ontario </strong> <strong class="pull-right"> May 2014 - Sept 2015 </strong><br>
          </div>
          <br>
        </div>
      </div>
      <br>
      
    </div>
  </div>
  <div class="resume-footer lt_yellow-bg row">

  </div>
</div>
