<%#= react_component 'ResumeBody', {
  #  name: 'Alex Clarke',
  #  email: 'alexclarke@gmail.com',
  #  github: 'github.com/aclar48',
  #  website: 'www.alexdclarke.me'
#}, { prerender: true } %>

<div class="resume center container-fluid">
  <div class="resume-header lt_yellow-bg row">
    <div class="col-md-12">
      <span class="font-30"> Alex Clarke</span>
      <table class="pull-right">
        <tr>
          <td>
            <span class="fa fa-envelope"></span>  alexclarke<span class="fa fa-at"></span>gmail.com
          </td>
          <td>
            <span class="fa fa-linkedin"></span> <a href="https://ca.linkedin.com/in/alex-clarke-8770a6103">Alex Clarke</a>
          </td>
        </tr>
        <tr>
          <td>
            <span class="fa fa-globe"></span> <a href="http://www.alexdclarke.me"> www.alexdclarke.me</a>
          </td>
          <td>
            <span class="fa fa-mobile"></span> (226) 700-1697
          </td>
        </tr>
        <tr>
          <td>
            <span class="fa fa-github"></span><a href="http://www.github.com/aclar48"> www.github.com/aclar48</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="resume-body">
    <div class="row">
      <div class="col-md-5 lang-tech">
        <div class="row">
          <div class="col-md-6">
            <strong class="font-16"> Languages </strong><br>
            <span class="font-12">Ruby </span><br>
            <span class="font-12">Javascript  </span><br>
            <span class="font-12">Java  </span><br>
            <span class="font-12">C/C++  </span><br>
            <span class="font-12">MySQL  </span><br>
            <span class="font-12">CSS  </span><br>
            <span class="font-12">HTML  </span><br>
          </div>
          <div class="col-md-6">
            <strong class="font-16"> Technologies </strong><br>
            <span class="font-12">Ruby on Rails  </span><br>
            <span class="font-12">Git  </span><br>
            <span class="font-12">Linux  </span><br>
            <span class="font-12">AWS  </span><br>
          </div>
        </div>
      </div>
      <div class="col-md-7 education-personal">
        <strong class="font-16"> Education: </strong> <br>
        <strong> Western University </strong> <strong class="pull-right"> 2010 - April 2016</strong><br>
        <span> &nbsp BSc, Honours Specialization in Computer Science </span><br>
        <span>&nbsp Software Engineering Minor</span> <br>
        <span>&nbsp Dean's Honour List</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 additional-skills">
        <strong class="font-16">Additional Skills:</strong> <br>
        <span>&nbsp Web Application Development</span> <br>
        <span>&nbsp Object Oriented Software Design</span> <br>
        <span>&nbsp Agile & Scrum</span> <br>
        <span>&nbsp Training in Software Architecture, QA, & Testing</span> <br>
      </div>
      <div class="col-md-6 personal-skills">
        <strong class="font-16">Personal Skills:</strong> <br>
        <span>&nbsp Strong Organizational and Communication Skills</span> <br>
        <span>&nbsp Passionate Self-Starter</span> <br>
        <span>&nbsp Driven to Create High-Quality Solutions</span> <br>
        <span>&nbsp Quick Learner & Proficient Problem Solver</span> <br>
      </div>
    </div>
    <br>
    <div class="experience container-fluid">
      <strong class="font-18">Experience:</strong>
      <div class="row">
        <div class="col-md-12 industry-exp">
          <strong class="font-16">Industry:</strong><br>
          <div class="dk-blue-border-left container-fluid">
            <strong> Software Developer Intern, </strong> <br>
            <strong> Info-Tech Research Group, London, Ontario </strong> <strong class="pull-right"> April 2014 - September 2015 </strong><br>
            <span>&nbsp Contributed to Multiple Ruby on Rails Products</span><br>
            <span>&nbsp Worked in Teams Using Agile & Scrum</span><br>
            <span>&nbsp Coordinated & Planned with Team Members & Product Owners</span><br>
            <span>&nbsp Provided Fast & Effective Support for Existing Products</span><br>
            <span>&nbsp Lead Refactoring Efforts Resulting in Improved Performance and Interoperability </span><br>
            <span>&nbsp Participated in Regular Code Reviews </span><br>
            <span>&nbsp Developed Solutions Spanning Multiple Systems </span><br>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 project-exp">
          <strong class="font-16">Academic & Personal:</strong><br>
          <div class="dk-blue-border-left container-fluid">
            <strong> Syllabus Creator (<a href="http://www.github.com/CS4470YProject/syllabus_creator"> <span class="fa fa-github"></span>/syllabus_creator</a> ) </strong> <strong class="pull-right"> September 2015 - Present </strong><br>
            <span>&nbsp Developed a Web Application to Streamline the Creation of Course Syllabuses Using Rails </span><br>
            <span>&nbsp Setup Staging Environment on AWS with Automated Deployment using Capistrano </span><br>
            <span>&nbsp Setup Continuous Integration Testing using TravisCI </span> <br>
            <span>&nbsp Designed & Implemented Back-End Architecture</span><br>
            <span>&nbsp Created Attractive Front-End Design</span><br>
            <span>&nbsp Supported Team Members as they Learned Ruby on Rails</span><br>
          </div>
          <br>
          <div class="dk-blue-border-left container-fluid">
            <strong> Markus (<a href="http://github.com/MarkUsProject/Markus"> <span class="fa fa-github"></span>/Markus</a> ) </strong> <strong class="pull-right"> Janurary 2016 - Present </strong><br>
            <span>&nbsp Contributed to an Open-Source Web Based Learning Management System Using Rails </span><br>
            <span>&nbsp Refactored Multiple Methods Substantially Improving Page Load Times </span><br>
            <span>&nbsp Restored Functionality of Automated Continuous Integration Testing</span><br>
            <span>&nbsp Refactored and Updated Failing & Incomplete Tests</span><br>
            <span>&nbsp Coordinated with Remote Team Members</span><br>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 other-exp">
          <strong class="font-16">Other:</strong>
          <div class="dk-blue-border-left container-fluid">
            <strong> Grooves Records, London, Ontario </strong> <strong class="pull-right"> 2006 - 2014 </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="resume-footer lt_yellow-bg row">

  </div>
</div>