<div class="header">
  <nav class="navbar navbar-default dk_blue_gray-bg">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a href="#main" class="navbar-brand main-button"> alexdclarke.me </a>-->
        <!--<a href="#experience" class="navbar-brand exp-button"> experience </a>-->
        <!--<a href="#projects" class="navbar-brand projects-button"> projects </a>-->
        <!--<a href="#resume" class="navbar-brand resume-button"> resume </a>-->
        <!--<a href="#contact" class="navbar-brand contact-button"> contact </a>-->

        <span class="font-20 white navbar-text mp-nav">Nav&nbsp</span>
        <a href="#main" class="font-20 main-button mp-links navbar-brand"> Home </a>
        <span class="font-20 navbar-text white">/</span> <a href="#experience" class="font-20 exp-button navbar-brand"> Experience </a>
        <span class="font-20 navbar-text white">/</span> <a href="#projects" class="font-20 projects-button  navbar-brand"> Projects </a>
        <span class="font-20 navbar-text white">/</span> <a href="#resume" class="font-20  resume-button navbar-brand"> Resume </a>
        <span class="font-20 navbar-text white">/</span> <a href="#contact" class="font-20  contact-button navbar-brand"> Contact </a>
      </div>
    </div>
  </nav>
</div>