<div class="header dk_blue_gray-bg-trans">
  <nav class="navbar navbar-default dk_blue_gray-bg-trans">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      </div>
    </div>
  </nav>
</div>