<!DOCTYPE html>
<html>
<head>
  <title>Alexdclarkem.me</title>
  <%= javascript_include_tag 'pdf', 'data-turbolinks-track' => true %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
<%= yield %>
</body>
</html>
